<%= form_with(model: campaign, class: "contents") do |form| %>
  <% if campaign.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2>Nie można zapisać kampanii:</h2>

      <ul class="list-disc ml-6">
        <% campaign.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :brand_id, "Marka" %>
    <%= form.collection_select :brand_id, @brands, :id, :name,
        { prompt: "Wybierz markę" },
        { class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": campaign.errors[:brand_id].none?, "border-red-400 focus:outline-red-600": campaign.errors[:brand_id].any?}] } %>
  </div>

  <div class="my-5">
    <%= form.label :product_name, "Nazwa produktu" %>
    <%= form.text_field :product_name,
        placeholder: "np. Organiczna kawa ziarnista",
        class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": campaign.errors[:product_name].none?, "border-red-400 focus:outline-red-600": campaign.errors[:product_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :target_audience, "Grupa docelowa" %>
    <%= form.text_field :target_audience,
        placeholder: "np. Świadomi zdrowotnie millenialsi",
        class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": campaign.errors[:target_audience].none?, "border-red-400 focus:outline-red-600": campaign.errors[:target_audience].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description, "Opis" %>
    <%= form.text_area :description,
        rows: 4,
        placeholder: "Szczegóły kampanii, promocje, kluczowe przekazy...",
        class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": campaign.errors[:description].none?, "border-red-400 focus:outline-red-600": campaign.errors[:description].any?}] %>
    <p class="text-sm text-gray-600 mt-1">Maksymalnie 500 znaków</p>
  </div>

  <div class="inline">
    <%= form.submit campaign.persisted? ? "Zaktualizuj kampanię" : "Utwórz kampanię", class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-indigo-600 hover:bg-indigo-700 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
